html, body{
    margin: 0;
    padding: 0;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 18px;
    fill: #0b0716;
    background-color: #0b0716;
}

.base{
    position: relative;
    z-index: 0;
}

.wowbackground{
    transition: 0.5s;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;

    background-image: url("background.jpg");
    background-size: 2400px;
    background-position: center;
    text-align: center;
    width: 100%;
    height:1860px;
    top: -400px;
}

.darkened {
    filter: brightness(50%);
}

.character{
    transition: 0.2s;
    background-repeat: no-repeat;
    background-size: 2400px;
    background-position: center;
    background-image: url("are2.png");
    text-align: center;
    height:1860px;
}

.shadow{
    transition: 0.2s;
    background-repeat: no-repeat;
    background-size: 2400px;
    background-position: center;
    background-image: url("shadow.png");
    height:1860px;
}

.overall{
    position: absolute;
    z-index: 3;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10rem 5% 1rem;

}

.character-digest{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.characterHeader{
    align-items: center;
    display: flex;
    width: 230px;
    height: 115px;
}

.allianceImg{
    background-repeat: no-repeat;
    background-image: url("alliance.png");
    background-size: 80px;
    width: 100px;
    height: 105px;

}

.nameDiv{
    font-size: 28px;
    color: #9382c9;
    padding-right: 1rem;
    border-right: 1px solid hsla(0,0%,100%,.2);
    font-weight: 600;
}

.nameDiv:hover{
    color: white;
    cursor: pointer;
}

.characterHeader-info{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: space-between;
    height: 2.8rem;
}

.achievements{
    color: #f8b700;
    margin-right: 1rem;
    margin-left: 0.2rem;
}

.achievements:hover{
    color: white;
    cursor: pointer;
}

.menuContent{
    transition: 0.5s;
}

.menuContentElement{
    display: block;
    transition: 0.5s;
}

.menuContentElementVisuallyHidden {
    opacity: 0;
}

.achievements:hover .achievements-svg{
    fill: #fff;
}

.ilvl{
    color: #f8b700;
    margin-right: 0.5rem;
    margin-left: 0.2rem;

}

.ilvl:hover{
    color: white;
    cursor: pointer;
}

.ilvl-white{
    color: white;
}

.ilvl:hover .ilvl-path{
    fill: white;
}

.covenant-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.covenant{
    background-image: url("covenant.png");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;

}

.covenant-info:hover .covenant-renown, .covenant-info:hover .covenant{
    color: white;
    cursor: pointer;
}

.covenant-renown{
    margin-left: 0.3rem;
    color: #f8b700;
}



.characterHeader-details{
    align-self: flex-end;
    color: white;
    font-weight: normal;
    font-size: 13px;
}

.gear-item-text{
    color: white;
    font-size: 13px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.guild{
    color: #f8b700;
}

.guild:hover{
    color: white;
    cursor: pointer;
}

.character-digest svg{
    fill: #f8b700;
    width: 15px;
    height: 15px;

}

.transitionable{
    transition: 0.25s;
}

.menu{
    margin-top: 0.3rem;
    text-transform: uppercase;
    display: table-cell;
    flex-direction: row;
    padding-bottom: 1rem;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}

#menuContent{
    transition: 0.25s;
}

.menuItem{
    font-size: 12px;
    font-weight: bold;
    margin-right: 1rem;
    color: #f8b700;
    padding: 0.5rem;
}

.menuItem:hover {
    color: #211510;
    background-color: #f8b700;
    transition: 0.1s;
    cursor: pointer;
}

.menuItem.active{
    color: #211510;
    background-color: #f8b700;
    transition: 0.1s;
}

.menuItem:active{
    color: #211510;
    background-color: #f8b700;
}

.characterProfile{
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.upper-gear{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gear-bottom{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 8rem;
}

.gear-bottom .gear-right{
    margin-right: 1.5rem;
}

.gear-bottom .gear-left{
    margin-left: 1.5rem;
}

.gear-left{
    display: flex;
    flex-direction: column;
}

.gear-right{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}

.gear-item{
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;

}

.gear-item:hover{
    cursor: pointer;
}


.gear-item:hover .gear-item-img{
    box-shadow: 0 0 15px white;
}

.gear-item:hover .gear-item-desc{
    color: white;
}

.gear-item:hover .epic-img{
    box-shadow: 0 0 15px #c600ff;
}

.gear-item:hover .legendary-img{
    box-shadow: 0 0 15px #ff8000;
}

.gear-item:hover .rare-img{
    box-shadow: 0 0 15px #0081ff;
}

.gear-item-desc{
    margin-bottom: 0.3rem;
}

.gear-item-text{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.legendary{
    color: #ff8000;
}

.epic{
    color: #c600ff;
}

.rare{
    color: #0081ff;
}

.rare .span{
    color: white;
}

.gear-item-img{
    border: 1px solid white;
}

.legendary-img{
    border: 1px solid #ff8000;
}

.epic-img{
    border: 1px solid #c600ff;
}

.rare-img{
    border: 1px solid #0081ff;
}
.tooltiptext, .tooltiptextRight {
    width: 400px;
    background-color: rgba(20,18,18, 0.8);
    border-radius: 6px;
    padding: 1rem;

    font-size: 0.7rem;
    flex-direction: column;
    border-top: 1px solid  rgba(255,255,255,0.4);
    box-shadow: 0 0 15px black;
    display: flex;
    color: white;
    line-height: 20px;
    text-align: left;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
}

.gear-item:hover .tooltiptext {
    position: absolute;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}


.transmog{
    color: #fc7cfb;
}

.tooltipILVL{
    color: rgb(255, 209, 0);
}

.tooltip-header {
    font-size: 0.9rem;
}

.part-and-material{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.usual-stats{
    display: flex;
    flex-direction: column;
}

.additional-stats{
    display: flex;
    color: rgb(0, 255, 0);
    flex-direction: column;
}

.effect{
    color: rgb(0, 255, 0);
    margin-top: 0.7rem;
}

.info{
    margin-top: 0.7rem;
    color: rgb(255, 209, 0);
}

.gold{
    padding-right: 15px;
    background: url("https://render-us.worldofwarcraft.com/icons/tooltips/gold.gif") right no-repeat;
}

.silver{
    padding-right: 15px;
    background: url("https://render-us.worldofwarcraft.com/icons/tooltips/silver.gif") right no-repeat;
}

.copper{
    padding-right: 15px;
    background: url("https://render-us.worldofwarcraft.com/icons/tooltips/copper.gif") right no-repeat;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.achievements-menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.achievements-menu:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.achievements-icon-svg{
    fill: #f8b700;
}

.achievement-tile{
    transition: 0.2s;
    position: relative;
    padding-top: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f8b700;
    background: url("https://assets.worldofwarcraft.com/static/components/Box/Box-leather-grey-dark.0477a49460ddf3f97294112a1b372a06.jpg") center no-repeat;
    border: 1px solid hsla(0,0%,100%,.2);
}


.achievement-tile:hover {
    border: 1px solid hsla(44, 100%, 49%,.9);
    cursor: pointer;
    filter: brightness(140%);
}

.achievement-tile-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.achievements-amount{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.2rem;
    align-items: center;
    justify-content: center;


}

.achievements-icon-svg{
    width: 15px;
    height: 15px;
}

.achievements-amount-number{
    margin-left: 0.2rem;
}

.progress-donut{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProgressDonut{
    position: relative;
    width: 7vw;
    height: 7vw;
}

.ProgressDonut-svg {
    transform: rotate(-90deg);
}

.ProgressDonut-svg > .progress-circle{
    stroke: #c76700;
    stroke-width: .7rem;
    fill: transparent;

    stroke-dasharray: calc(37*6.28); /*r=90 C=2pi*r so this (2PI * 40px- radius) */
    stroke-dashoffset: calc((1 - 0.69)*37*6.28); /*percent goes here*/
}

.ProgressDonut-svg > .progress-circle-border-outer{
    stroke: rgba(255,255,255,0.5);
    stroke-width: .75rem;
    fill: transparent;
    stroke-dasharray: calc(37*6.28);
}


.ProgressDonut-svg-background{
    position: absolute;
    z-index: 0;
    transform: rotate(-90deg);
    stroke-dasharray: calc(37*6.28); /*r=90 C=2pi*r so this (2PI * 40px- radius) */
    stroke-dashoffset: calc((1 - 1)*37*6.28); /*percent goes here*/
}

.progressBar-circle{
    stroke: black;
    stroke-width: .7rem;
    fill: transparent;
}


.ProgressDonut-svg-border {
    position: absolute;
    background-color: transparent;
    border:1px solid white;
    border-radius:50%;
}

.ProgressDonut-number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.menu-collections, .menu-pvp, .menu-reputation{
    display: none;
}

.dungeons-and-raids-menu{
    margin-top: 1.5rem;
}

.shadowlands{
    color: white;
    font-family: Futura Demi,Open Sans,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.shadowlands-span{
    text-transform: uppercase;

}

.castleNathria{
    background-image: url("https://assets.worldofwarcraft.com/static/components/RaidProgress/RaidProgress-background.ee8e1e8d1ca604e2fc28a8e14877bc62.jpg");
    background-size: 100%;
    width: 30%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid hsla(0,0%,100%,.2);
    box-sizing: border-box;
}

.castleNathria-info{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.castleNathria-img{
    background-image: url("https://render-eu.worldofwarcraft.com/zones/castle-nathria-small.jpg");
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
    height: 7rem;
    transition: 0.2s;
}

.castleNathria-img:hover{
    filter: brightness(110%);
    cursor: pointer;
}

.castleNathria-name{
    font-size: 1rem;
    font-weight: normal;
    color: #f8b700;
}

.castleNathria-level{
    font-size: 0.8rem;
    font-weight: normal;
    color: #b1997f;
    line-height: 1.5rem;
}

.raid-difficulties{
    display: flex;
    flex-direction: column;
}

.raid-difficulties > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    text-align: left;
    transition: 0.2s;
}

.difficulty-name{
    text-transform: uppercase;
    font-size: 0.6rem;
    color: #f8b700;
    width: 25%;
    transition: 0.2s;
}

.difficulty:hover .difficulty-name {
    fill: white;
    cursor: pointer;
    color: white;
}

.raid-progress{
    position: relative;
    width: 75%;
    height: 2rem;
    display: flex;
    align-items: center;
}

.raid-progress > .progressbar{
    position: absolute;
    z-index: 0;
    border: 1px solid hsla(0,0%,100%,.2);
    height: 2rem;
    width: 100%;
    background-color: #181818;
    box-shadow: inset 0 0 16px #000;
}

.raid-progress > .progress{
    position: absolute;
    z-index: 1;
    height: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.raid-progress > .progressbar-content{
    font-size: 0.8rem;
    text-align: left;
    padding-left: 1rem;
    z-index: 2;
}

.raid-difficulties > .LFR > .raid-progress > .progress{
    width: 30%;
    background: linear-gradient(90deg,#69503f 0,#99755c);
}

.raid-difficulties > .normal > .raid-progress > .progress{
    width: 100%;
    background: linear-gradient(90deg,#0d4a00 0,#1b9601);
}

.raid-difficulties > .heroic > .raid-progress > .progress{
    width: 100%;
    background: linear-gradient(90deg,#0d4a00 0,#1b9601);
    /*width: 50%;
    background: linear-gradient(90deg,#7b3f00 0,#c76700);*/
}

.raid-difficulties > .mythic > .raid-progress > .progress{
    width: 0%;
    border: none;
}

.hidden {
    display: none;
}